@font-face {
  font-family: 'Yapari';
  src: url(/public/fonts/Yapari-Variable-Trial-VF.ttf);
}

body {
  margin: 0;
  /* font-family: 'Heebo', sans-serif; */
  font-family: 'Poppins', sans-serif;
  background-color: #fffffd; 
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}